.jk-selector-menu {
  position: relative;

  .jk-selector-menu-select {
    display: flex;
    border-radius: 3px;
    color: #ffffff;
    border: 1px solid #1e1e1e;
    background: linear-gradient(177deg, #303030 0, #616161 49%, #000 59%, #3e3e3e 100%);
    box-shadow: inset 0 3px 9px #232323, inset 0 3px 12px #323232, inset 0 15px 9px #4a4a4a, inset 0 3px 3px 0 #8b8b8b, 0 1px 3px rgb(16 16 16 / 66%);

    & > div:first-child {
      width: 100%;
      cursor: pointer;
      height: 100%;
      line-height: 100%;
      display: flex;
      align-items: center;
      color: #9d9d9d;

      & > span{
        color: white;
      }
    }

    & > div:last-child {
      width: 14px;
      font-size: 14px;
      line-height: 13px;
      cursor: pointer;
    }
  }

  .jk-selector-menu-list {
    position: absolute;
    z-index: 10000;
    display: none;
    height: unset;
    flex-wrap: wrap;
    padding: 0;
    border-radius: 3px;
    background: #f7f7f7;
    border: 1px solid #ccc;
    width: 100%;

    & > .jk-selector-search{
      width: 100%;
      height: 26px;
      padding: 2px;

      & > input{
        height: 24px;
        border: 1px solid #bdbdbd;
      }
    }

    & > .jk-selector-menu-options {
      width: 100%;
      padding: 0 0 2px 0;

      & > div {
        display: flex;
        margin: 0 2px 0 2px;
        align-items: center;
        height: 28px;
        cursor: pointer;
        border-bottom: 1px solid #d9d9d9;

        & > div:first-child{
          width: 100%;
        }
      }

      & > div:hover,& > div[active="1"]{
        background: rgb(0 0 0 / 8%);
      }
    }
  }
}