@import "aid/styles";
@import "utils/tip/styles";
@import "utils/selector/styles";

.jk,.jk *{
  font-family: "Raleway",
  "HelveticaNeue",
  "Helvetica Neue",
  Helvetica,
  Arial,
  sans-serif;
  font-size: 12px!important;
  font-weight: 400!important;
  border-spacing: 0!important;
  -moz-user-select: none!important;
  -webkit-user-select: none!important;
  -ms-user-select: none!important;
  user-select: none!important;
  text-align: left;
  -webkit-appearance: none!important;
  -webkit-box-sizing: border-box!important;
  -moz-box-sizing: border-box!important;
  box-sizing: border-box!important;
}

.jk-text-trim {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.jk-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.jk-scroll::-webkit-scrollbar {
  width: 3px;
}

.jk-scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #e1e1e1;
}

.jk-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgb(255 255 255 / 20%);
}

.jk-input {
  padding: 0 2px;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  height: 30px;
  background: #fbfbfb;
  color: #666;
  border: 1px solid #e5e5e5;
  transition: .2s ease-in-out;
  transition-property: color, background-color, border;
  -webkit-appearance: none;
  box-sizing: border-box;
  margin: 0;
  border-radius: 2px;
  font: inherit;
  align-items: center;
}